# yc
sat/configs/cogvideox_5b.yaml
sat/configs/cogvideox_5b_lora.yaml
sat/configs/inference.yaml

sat/CogVideoX-2b-sat
sat/CogVideoX-5b-I2V-sat
sat/CogVideoX-5b-sat
sat/vae_vis_yc

finetune/diffusers
finetune/ckpt
finetune/wandb

*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*